

<mat-tab-group>
  <mat-tab label="New">


      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput #nameInput>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Amount</mat-label>
        <input matInput #amountInput>
      </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Unit</mat-label>
        <input matInput #unitInput>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="addItem($event, nameInput.value, amountInput.value, unitInput.value); nameInput.value = ''; amountInput.value = ''; unitInput.value = ''"> Add </button>


    <mat-table [dataSource]="itemList" class="mat-elevation-z8">


      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ingredientInfo.name}} </mat-cell>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ingredientInfo.quantity}} {{element.ingredientInfo.unit}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell  *matHeaderCellDef >  </mat-header-cell>
        <mat-cell *matCellDef="let element" class="header-align-right">
          <button mat-icon-button color="warn"  (click)="deleteItem(element.id)"><mat-icon>clear</mat-icon></button>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-form-field class="example-full-width">
          <mat-label>List name</mat-label>
          <input matInput #listInput>
        </mat-form-field>
      <button mat-raised-button color="accent" (click)="saveList($event, listInput.value); listInput.value =''"> Save </button>
    </mat-tab>



    <mat-tab label="View">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let list of shoppingLists$ | async" [expanded]="panelOpenState===list.id">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{list.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-table [dataSource]=list.ShoppingList class="mat-elevation-z8">


            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.ingredientInfo.name}} </mat-cell>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
              <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.ingredientInfo.quantity}} {{element.ingredientInfo.unit}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell  *matHeaderCellDef >  </mat-header-cell>
              <mat-cell *matCellDef="let element" class="header-align-right">
                   <button mat-icon-button color="warn"  (click)="deleteViewItem(element.id, list.id)"><mat-icon>clear</mat-icon></button>
              </mat-cell>
            </ng-container>



            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <mat-action-row>
            <button mat-raised-button color="warn" (click)="deleteList(list.id)"> Delete </button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->

    </mat-tab>
  </mat-tab-group>
