<div *ngIf="recipe">
    <mat-list>
        <mat-list-item *ngFor="let ingredient of recipe.recipeInfo.ingredients">
            ingredient: {{ingredient.ingredientInfo.name}}
        </mat-list-item>
        <mat-list-item> Salt </mat-list-item>
        <mat-list-item> Paprika </mat-list-item>
    </mat-list>

    <form [formGroup]="ingredientForm" (ngSubmit)="submit()">
        <div>
            <label 
              formArrayName="ingredients" 
              *ngFor="let ingredient of ingredientForm.controls.ingredients.controls; let i = index">
                {{recipe.recipeInfo.name}}
                <input type="checkbox" [formControlName]="i" />
                {{ingredientsData[i].ingredientInfo.quantity + " " + 
                ingredientsData[i].ingredientInfo.unit + " " + 
                ingredientsData[i].ingredientInfo.name}}
            </label>
            <br>
        </div>
        <button mat-raised-button color="33FF68">Submit</button>
    </form>
</div>