<mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let recipe"> {{recipe.recipe.recipeInfo.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="portions">
        <mat-header-cell *matHeaderCellDef> Portions </mat-header-cell>
        <mat-cell *matCellDef="let recipe"> {{recipe.recipe.recipeInfo.defaultPortions}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
        <mat-cell *matCellDef="let recipe"> {{recipe.recipe.recipeInfo.category}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
</mat-table>